node_modules
package-lock.json
venv
media
.git
.gitignore
.dockerignore
.env
.idea
.vscode
.DS_Store
.coverage
.github
celerybeat-schedule
.pre-commit-config.yaml
Makefile
justfile
README.md
htmlcov
.mypy_cache
.pytest_cache
.ruff_cache
tests
docs
k8s
conf
