# https://www.gitignore.io/api/django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal

*.py[cod]
*$py.class

*.so

build/
parts/
sdist/
var/
wheels/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

celerybeat-schedule
.vscode
.idea
.DS_Store

node_modules
datadump.json
venv/
