repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: debug-statements
      - id: detect-private-key
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
        args: ['--allow-multiple-documents']
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.8'
    hooks:
      - id: ruff-check
        args: ['--output-format', 'concise']
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.16
    hooks:
      - id: uv-lock
