[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "asu"
version = "0.1.0"
dependencies = [
    "django ~= 4.2",
    "redis ~= 4.5",
    "hiredis ~= 2.2",
    "psycopg[c] ~= 3.1",
    "djangorestframework ~= 3.14",
    "drf-spectacular",
    "factory-boy ~= 3.2",
    "celery ~= 5.2",
    "drf-nested-routers ~= 0.93",
    "django-filter ~= 23.1",
    "channels[daphne] ~= 4.0",
    "channels-redis ~= 4.1",
    "asgiref ~= 3.6",
    "sorl_thumbnail ~= 12.9",
    "Pillow ~= 9.5",
    "python-magic ~= 0.4",
    "django-oauth-toolkit ~= 2.2",
    "django-two-factor-auth ~= 1.15",
    "phonenumbers ~= 8.13",
    "django-widget-tweaks ~= 1.4",
    "envanter ~= 1.2",
    "django-stubs ~= 1.16",
    "djangorestframework-stubs ~= 1.10",
]

[project.optional-dependencies]
dev = [
    "django-debug-toolbar",
    "ipython",
    "coverage",
    "tblib",
    "watchfiles",
    "mypy",
    "types-oauthlib",
    "types-Pillow",
    "celery-types",
]

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
known_django = "django"
known_rest_framework = "rest_framework"
sections = "FUTURE,STDLIB,DJANGO,REST_FRAMEWORK,THIRDPARTY,FIRSTPARTY,LOCALFOLDER"
combine_as_imports = true
line_length = 88

[tool.ruff]
select = [
    "E", # pycodestyle errors
    "W", # pycodestyle warnings
    "F", # pyflakes
    "C", # flake8-comprehensions
    "B", # flake8-bugbear
    "RUF", # Ruff-specific
    "C4", # flake8-comprehensions
    "C90", # mccabe
]
line-length = 88
exclude = [
    "migrations",
]
ignore = [
    "B904",
]

[tool.ruff.mccabe]
max-complexity = 20

[tool.mypy]
plugins = [
    "mypy_django_plugin.main",
    "mypy_drf_plugin.main",
]
strict = true
ignore_missing_imports = true

[tool.django-stubs]
django_settings_module = "asu.settings"
