[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "asu"
version = "0.1.0"
dependencies = [
    "django ~= 4.2",
    "djangorestframework ~= 3.14",
    "asgiref ~= 3.7",
    "channels ~= 4.0",
    "channels-redis ~= 4.1",
    "drf-spectacular",
    "drf-nested-routers ~= 0.93",
    "django-filter ~= 23.5",
    "django-cors-headers ~= 4.3",
    "django-oauth-toolkit ~= 2.3",
    "django-two-factor-auth ~= 1.15",
    "django-storages ~= 1.14",
    "django-ipware ~= 6.0",
    "django-celery-beat ~= 2.5",
    "django-stubs-ext",
    "django-widget-tweaks ~= 1.5",
    "sorl-thumbnail ~= 12.10",
    "psycopg[c] ~= 3.1",
    "redis ~= 5.0",
    "hiredis ~= 2.3",
    "Pillow ~= 10.2",
    "python-magic ~= 0.4",
    "boto3 ~= 1.34.12",
    "phonenumbers ~= 8.13",
    "sentry-sdk ~= 1.39",
    "envanter ~= 1.2",
]

[project.optional-dependencies]
dev = [
    # Testing
    "factory-boy",
    "coverage",
    # Typing
    "mypy",
    "django-stubs",
    "djangorestframework-stubs",
    "types-oauthlib",
    "types-Pillow",
    "celery-types",
    # Misc
    "daphne",
    "django-debug-toolbar",
    "ipython",
    "tblib",
    "watchfiles",
]
prod = [
    "gunicorn ~= 21.2",
    "uvicorn ~= 0.24",
    "uvloop ~= 0.19",
    "httptools ~= 0.6",
    "websockets ~= 12.0",
]

[tool.black]
line-length = 88

[tool.ruff]
fix = true
fixable = ["I"]
show-fixes = true
select = [
    "E", # pycodestyle errors
    "W", # pycodestyle warnings
    "F", # pyflakes
    "C", # flake8-comprehensions
    "B", # flake8-bugbear
    "RUF", # Ruff-specific
    "C4", # flake8-comprehensions
    "C90", # mccabe
    "I", # isort
    "N", # pep8-naming,
    "BLE", # flake8-blind-except
    "DTZ", # flake8-datetimez
    "DJ", # flake8-django
    "FA", # flake8-future-annotations
    "G", # flake8-logging-format
    "T20", # flake8-print
    "RET", # flake8-return
    "SIM", # flake8-simplify
    "PTH", # flake8-use-pathlib
    "ERA", # eradicate
    "PL", # pylint
    "PERF", # perflint
]
target-version = "py311"
line-length = 88
ignore = ["B904", "RUF012", "SIM105", "PTH123", "PLR2004", "PLR0913", "PLR0911"]

[tool.ruff.isort]
combine-as-imports = true
section-order = [
    "future",
    "standard-library",
    "django",
    "rest_framework",
    "third-party",
    "first-party",
    "local-folder",
]

[tool.ruff.isort.sections]
django = ["django"]
rest_framework = ["rest_framework"]

[tool.ruff.mccabe]
max-complexity = 20

[tool.ruff.extend-per-file-ignores]
"*/migrations/*" = ["E501"]

[tool.mypy]
plugins = [
    "mypy_django_plugin.main",
    "mypy_drf_plugin.main",
]
strict = true
ignore_missing_imports = true
allow_subclassing_any = true

[tool.django-stubs]
django_settings_module = "asu.settings"

[tool.coverage.run]
source = ["asu"]
omit = [
    "asu/gateways/*",
    "asu/utils/workers.py",
]

[tool.coverage.report]
exclude_also = [
    "if TYPE_CHECKING:",
    'if settings.DEBUG',
    'if getattr\(self, "swagger_fake_view", False\):',
    'raise NotImplementedError',
    'raise AssertionError',
    'def __str__',
    'def __repr__',
]

[tool.coverage.html]
skip_empty = true
skip_covered = true
