version: '3.7'

volumes:
  pg-data:

services:
  db:
    container_name: asu-postgres
    image: postgres:16.1-alpine
    user: postgres
    env_file: ../../conf/prod/postgres.env
    restart: unless-stopped
    volumes:
      - pg-data:/var/lib/postgresql/data

  redis:
    container_name: asu-redis
    image: redis:7-alpine
    user: redis
    restart: unless-stopped

  rabbitmq:
    container_name: asu-rabbitmq
    image: rabbitmq:3.12-alpine
    restart: unless-stopped

  nginx:
    container_name: asu-nginx
    build:
      context: ../..
      dockerfile: docker/prod/nginx/Dockerfile
    ports:
      - "443:443"
    restart: unless-stopped

  web:
    extends:
      file: django/django.yml
      service: django
    container_name: asu-web
    build:
      context: ../..
      dockerfile: docker/prod/django/Dockerfile
    command: >
      gunicorn
      asu.gateways.wsgi
      --bind 0.0.0.0:8000
      --workers 4
      --threads 8
      --access-logfile '-'
    environment:
      DJANGO_CONTEXT: web
    depends_on:
      - db
      - redis

  websocket:
    extends:
      file: django/django.yml
      service: django
    container_name: asu-websocket
    command: >
      gunicorn asu.gateways.websocket
      --bind 0.0.0.0:7000
      --workers 4
      --worker-class asu.utils.workers.UvicornWorker
      --access-logfile '-'
    environment:
      DJANGO_CONTEXT: websocket
    depends_on:
      - db
      - redis

  celery-worker: &celery
    extends:
      file: django/django.yml
      service: django
    container_name: asu-celery-worker
    command: celery -A asu worker -l info
    environment:
      DJANGO_CONTEXT: celery
    depends_on:
      - rabbitmq
      - db
      - redis

  celery-beat:
    <<: *celery
    container_name: asu-celery-beat
    command: celery -A asu beat -l info
    depends_on:
      - rabbitmq
      - db
      - redis
