volumes:
  pg-data:
  rabbitmq-data:

services:
  db:
    container_name: asu-postgres
    image: postgres:18.0-alpine3.22@sha256:48c8ad3a7284b82be4482a52076d47d879fd6fb084a1cbfccbd551f9331b0e40
    user: postgres
    env_file: ../../conf/prod/postgres.env
    restart: unless-stopped
    volumes:
      - pg-data:/var/lib/postgresql/data

  redis:
    container_name: asu-redis
    image: redis:8.2.3-alpine3.22@sha256:28c9c4d7596949a24b183eaaab6455f8e5d55ecbf72d02ff5e2c17fe72671d31
    user: redis
    restart: unless-stopped

  rabbitmq:
    container_name: asu-rabbitmq
    image: rabbitmq:4.2.0-alpine@sha256:3a20ab5bf4d3b178616ea2639c4970e22347d6eab45b4d9b6e390a1f7d165a61
    hostname: rabbitmq-local
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    restart: unless-stopped

  nginx:
    image: asu-nginx
    container_name: asu-nginx
    build:
      context: ../..
      dockerfile: docker/prod/nginx/Dockerfile
    ports:
      - "443:443"
    restart: unless-stopped

  web:
    container_name: asu-web
    build:
      context: ../..
      dockerfile: docker/prod/django/prod.Dockerfile
    command: >
      gunicorn
      asu.gateways.wsgi
      --bind 0.0.0.0:8000
      --workers 4
      --access-logfile '-'
    extends:
      file: django/common.yml
      service: python

  websocket:
    container_name: asu-websocket
    command: >
      gunicorn asu.gateways.websocket
      --bind 0.0.0.0:7000
      --workers 4
      --worker-class asu.core.utils.workers.UvicornWorker
      --access-logfile '-'
    extends:
      file: django/common.yml
      service: python

  celery-worker: &celery
    container_name: asu-celery-worker
    command: celery worker --loglevel INFO --autoscale=4,0
    depends_on:
      - rabbitmq
      - db
      - redis
    extends:
      file: django/common.yml
      service: python

  celery-beat:
    <<: *celery
    container_name: asu-celery-beat
    command: celery beat --loglevel INFO
