{% load static i18n asu %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv=Content-Type content="text/html; charst=UTF-8">

    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/index.css" %}" rel="stylesheet"/>
</head>

<body>

<main class="container">
    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
    <footer>
        {# StubLink's to be replaced with frontend-links #}
        <section class="links">
            <a href="#StubLink">Terms</a>
            <a href="#StubLink">Privacy</a>
            <a href="#StubLink">Security</a>
            <a href="#StubLink">Contact</a>
        </section>
        <article>
            {% get_variable "BRAND" as brand %}
            {% get_variable "SUPPORT_EMAIL" as support_mail %}
            {% blocktranslate trimmed %}
                © Copyright 2022 {{ brand }}, All Rights Reserved<br>
                <a href="mailto:{{ support_mail }}">{{ support_mail }}</a>
            {% endblocktranslate %}
        </article>
    </footer>
</main>

<script>
    !function () {
        const t = document.querySelector("button.back[type=submit]");
        null !== t && t.addEventListener("click", function () {
            document.querySelectorAll("input:not([type=hidden])").forEach(function (t) {
                t.disabled = !0
            })
        })
    }();
</script>
</body>
</html>
