name: Run tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Expose GitHub Runtime
      uses: crazy-max/ghaction-github-runtime@v2

    - name: Build containers
      run: |
        docker buildx create --use --driver=docker-container
        cd docker/dev
        docker buildx bake --allow=fs.read=../.. -f compose.yml web --set *.cache-to="type=gha,mode=min" --set *.cache-from="type=gha" --load

    - name: Run tests
      run: >-
        docker compose -f docker/dev/compose.yml run --rm web
        /bin/sh -c
        "pytest -n2 --no-migrations --cov --cov-report=xml"

    - name: Upload coverage
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
